{% extends "base.twig" %}

{% block title %}Home{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/search.css"/>
{% endblock %}

{% block content %}
    <div id="particles-js"></div>

    <script src="../particles.js"></script>
    <div class="titolPagina">
        <button class="button logout-button" onclick="location.href='/logout'">Logout</button>
        <h1>Cercar Videos</h1>
        {% if errors.db %}
            <p style="color: red;">{{ errors.db }}</p>
            <br>
        {% endif %}

        <form action="/home" method="POST"  accept-charset="utf-8">
            <input style="width: 400px" type="text" placeholder="Introduir cerca" name="cerca" value="{% if cerca %}{{ cerca }}{% endif %}" required>
            <button type="submit">Cercar</button>
        </form>
    </div>

    {% if videos %}
        <br>
        <hr>
        <h1>Resultats de la cerca:</h1>
        <div class="center">
            <div class="pagination">
                {% if prevPage %}
                    <form method="post" action="/home">
                        <input type="hidden" name="cerca" value="{{ cerca }}" />
                        <input type="hidden" name="pageNumber" value="{{ prevPage }}" />
                        <a onclick="this.parentNode.submit();">&laquo;</a>
                    </form>
                {% endif %}
                {% if nextPage %}
                    <form method="post" action="/home">
                        <input type="hidden" name="cerca" value="{{ cerca }}" />
                        <input type="hidden" name="pageNumber" value="{{ nextPage }}" />
                        <a onclick="this.parentNode.submit();">&raquo;</a>
                    </form>
                {% endif %}
            </div>
        </div>
        <br>
        {% for item in videos %}

            <div class="element">
                <div class="meta">
                    <div class="imatge" style="background-image: url({{ item.snippet.thumbnails.default.url }})"></div>
                </div>
                <div class="textInfo">
                    <h1>{{ item.snippet.title }}</h1>
                    <h2>{{ item.snippet.channelTitle }}</h2>
                    <p>{{ item.snippet.description }}</p>
                    <p class="read-more">
                        <a href="https://www.youtube.com/watch?v={{  item.id.videoId }} " target="_blank" >Ver video</a>
                    </p>
                </div>
            </div>


        {% endfor %}
    {% endif %}
{% endblock %}