{% extends "base.twig" %}
{% block title %}Home{% endblock %}
{% block head %}

    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/landing.css">

{% endblock %}


{% block content %}
    <section class="banner">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <p class="promo-title">LSteam</p>
            <p class="join-title">Join Us! You will discover you new games and experiences! </p>
             <a href="#" class="link-play">
              <img src="{{ full_url_for('home') }}assets/images/svg/carrito.svg" alt="" class="play-btn">Visit Store
            </a>
          </div>
            <div class="col-md-6">
              <img src="{{ full_url_for('home') }}assets/images/svg/play.svg" alt="" class="img-fluid">
            </div>
        </div>
      </div>
        <img src="{{ full_url_for('home') }}assets/images/ground@-min.png" class="bottom-img" alt="">
    </section>

    <section id="services">
      <div class="container text-center">
        <h3 class="title text-center"> LSteam wallet </h3>
        <div class="row text-center">
          <div class="col-md-4 services">
            <img src="{{ full_url_for('home') }}assets/images/svg/money.svg" class="service-img"   alt="">
            <h4>Input</h4>
            <p>As a user, you can see how much money you have in his/her wallet. Moreover, 
            </p>
          </div>
          <div class="col-md-4 services">
            <img src="{{ full_url_for('home') }}assets/images/svg/arrow.svg" class="service-img-arrow"   alt="">
          </div>
          <div class="col-md-4 services">
            <img src="{{ full_url_for('home') }}assets/images/svg/ads.svg" class="service-img"   alt="">
            <h4>Your Wallet</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
          </div>
        
        </div>
        <button type="button" class="btn btn-primary"  name="button">Go to Wallet</button>
      </div>
    </section>

    <section id="about">
      <div class="container">
        <h3 class="title text-center">ABOUT US</h3>
        <div class="row">
          <div class="col-md-6 about">
            <p class="about-title">Odio sed id eos et laboriosam consequatur eos earum soluta.</p>
            <ul>
              <li>Sint aliquam consequatur ex ex labore.</li>
              <li>Duis aute irure dolor in reprehenderit in voluptate velit.</li>
              <li>Aspernatur consectetur omnis numquam quaerat.</li>
              <li>Et vel ut quidem alias veritatis repudiandae ut fugit.</li>
              <li>Fugit ut maxime incidunt accusantium totam repellendus eum error. </li>
              <li>Ullamco laboris nisi ut aliquip ex ea commodo consequat.</li>
            </ul>
          </div>
            <div class="col-md-6">
              <img src="{{ full_url_for('home') }}assets/images/svg/undraw_mobile_marketing_iqbr.svg" class="img-fluid" alt="">
            </div>
        </div>
      </div>
    </section>
    <section id="testimonials">
      <div class="container">
        <h3 class="title text-center">Novedades</h3>
        <div class="row offset-1">
          <div class="col-md-5 testimonials">
            <p class="feedback">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
            </p>
            <img src="https://www.cope.es/blogs/gamelover/wp-content/uploads/sites/13/2020/05/GL_29052020-725x353.jpg"  alt="kk">
            <img src="https://cbsnews1.cbsistatic.com/hub/i/2014/03/25/d961d7a8-5529-4c4f-919f-a1fd0ed9d1d6/ctm-0325-vid-games-640x360.jpg"  alt="">
          </div>
          <div class="col-md-5 testimonials">
            <p class="feedback">"Lorem ipsum dolor sit amet, consectetur adipiscing elit,
              sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
              quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."
            </p>
            <img src="https://cbsnews1.cbsistatic.com/hub/i/2014/03/25/d961d7a8-5529-4c4f-919f-a1fd0ed9d1d6/ctm-0325-vid-games-640x360.jpg"  alt="">
            <img src="https://cbsnews1.cbsistatic.com/hub/i/2014/03/25/d961d7a8-5529-4c4f-919f-a1fd0ed9d1d6/ctm-0325-vid-games-640x360.jpg"  alt="">
          </div>
        </div>
      </div>
    </section>
    <section id="footer">
        <div class="container">
          <div class="row">
            <div class="col-md-8 footer-box">
              <img src="images/logo.png" alt="">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="col-md-4 footer-box">
                <p id="contact"><b>OUR OFFICE</b></p>
                <p><i class="fa fa-map-marker"></i>Quatre Camins 37, 08022 Barcelona</p>
                <p><i class="fa fa-phone"></i>+34 666 666 666</p>
                <p><i class="fa fa-envelope-o"></i>pw1.rafa.victor.marti@gmail.com</p>
            </div>
            <div class="col-md-7 ">
              <p class="copyright">Copyright © 2021</p>
            </div>
          </div>
          <br>
        </div>
    </section>
{% endblock %}