{% extends "base.twig" %}

{% block title %}Your Profile{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/profile.css"/>
{% endblock %}

{% block content %}


    <div class="container emp-profile">
        <div class="row">
            <div class="col-md-4">
            <form style="width: 100%;" class="flex-wrap d-flex justify-content-between" action="/profile" method="POST" enctype="multipart/form-data" accept-charset="utf-8">
                <div class="profile-img">
                    {% if uuid %}
                        {% set imgUrl = full_url_for('home')~"uploads/"~uuid %}
                        <img src="{{imgUrl}}" class="rounded-circle" alt="avatar"/>
                    {% else %}
                        <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png"class="rounded-circle" alt="avatar"/>
                    {% endif %}
                    <div class="file btn btn-lg btn-primary">
                        <input type="file" id="profilepic" name="profilepic"/>
                    </div>
                    {% if errors.image %}
                        <p class="foto-mal">{{ errors.image }}</p>     
                    {%  endif %}
                    {% if errors.ok %}
                        <p class="foto-bien">{{ errors.ok }}</p>
                    {%  endif %}
                </div>
                <div class="profile-work">
                    <p>Purchase History</p>
                    <a href="">Nom Joc - Data Compra - Preu</a><br/>
                </div>
            </div>
            <div class="col-md-8">
                <div class="profile-head">
                    <h2>
                        {{ user.username }}
                    </h2>
                    <h6>
                        Registered on {{ user.createdAt|date("m/d/Y") }}
                    </h6>
                    <p class="proile-rating">Your Wallet: {{ wallet|number_format(2, '.', ',') }} €</p>
                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Your Information</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="changePassword-tab" data-toggle="tab" href="#changePassword" role="tab" aria-controls="changePassword" aria-selected="false">Change Password</a>
                        </li>
                    </ul>
                </div>
                <div class="tab-content profile-tab">
                    <div class="tab-pane fade show active" id="home">
                        <div class="flex-wrap d-flex justify-content-between">
                            
                                <div class="form-group">
                                    <label>Username</label>
                                    <div class="password-group">
                                        <input type="text" class="form-control" value="{{ user.username }}" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <div class="password-group">
                                        <input type="email" class="form-control" value="{{ user.email }}" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Birthday</label>
                                    <div class="password-group">
                                        <input type="text" class="form-control" value="{{ user.birthday|date("m/d/Y") }}" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Phone</label>
                                    <div class="password-group">
                                        <input type="text" class="form-control" name="phone" id="phone" value="{{ user.phone }}">
                                    </div>
                                    {% if errors.phone %}
                                        <p>{{ errors.phone }}</p>
                                    {% endif %}
                                </div>
                                <div class="form-group" style="width: 100%;">
                                    <div class="container-register-button">
                                        <input type="submit" class="btnRegister" id ="upload" name="upload" value="Save Profile Changes"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="changePassword">
                        {% if errors.password %}
                            <p>{{ errors.password }}</p>
                        {% endif %}
                        <div class=" flex-wrap d-flex justify-content-between">
                            <form style="width: 100%;" class="flex-wrap d-flex justify-content-between" action="/profile/changePassword" method="POST" accept-charset="utf-8">
                                <div class="form-group">
                                    <label for="email">Current Password</label>
                                    <div class="password-group">
                                        <input name="currPass" type="password" class="form-control password-box" placeholder="Enter Password" aria-label="Current Password">
                                        <a href="#" class="password-visibility"><i class="fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">New Password</label>
                                    <div class="password-group">
                                        <input name="newPass" type="password" class="form-control password-box" placeholder="Enter Password" aria-label="New Password">
                                        <a href="#" class="password-visibility"><i class="fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email">Repeat Password</label>
                                    <div class="password-group">
                                        <input name="repPass" type="password" class="form-control password-box" placeholder="Enter Password" aria-label="Repeat Password">
                                        <a href="#" class="password-visibility"><i class="fa fa-eye"></i></a>
                                    </div>
                                </div>
                                <div class="form-group botong">
                                    <div class="container-register-button">
                                        <input type="submit" class="btnRegister" value="Change Password"/>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script>
        var hash = location.hash.replace(/^#/, ''); 
        if (hash) {
            $('.nav-tabs a[href="#' + hash + '"]').tab('show');
        }
        $('.nav-tabs a').on('shown.bs.tab', function (e) {
            window.location.hash = e.target.hash;
        })
        $(function() {
            $('.password-group').find('.password-box').each(function(index, input) {
                var $input = $(input);
                $input.parent().find('.password-visibility').click(function() {
                    var change = "";
                    if ($(this).find('i').hasClass('fa-eye')) {
                        $(this).find('i').removeClass('fa-eye')
                        $(this).find('i').addClass('fa-eye-slash')
                        change = "text";
                    } else {
                        $(this).find('i').removeClass('fa-eye-slash')
                        $(this).find('i').addClass('fa-eye')
                        change = "password";
                    }
                    var rep = $("<input type='" + change + "' />")
                        .attr('id', $input.attr('id'))
                        .attr('name', $input.attr('name'))
                        .attr('class', $input.attr('class'))
                        .val($input.val())
                        .insertBefore($input);
                    $input.remove();
                    $input = rep;
                }).insertAfter($input);
            });
        });

    </script>
{% endblock %}

