{% extends "base.twig" %}

{% block title %}Register{% endblock %}
{% block head %}
    <link rel="stylesheet" href="{{ full_url_for('home') }}assets/css/registre.css"/>
{% endblock %}

{% block content %}
<div class="container-register">
    <div class="container register">
        <div class="row">
            <div class="col-md-3 register-left">
                <img src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                <h3>Welcome</h3>
                <p>You are about to register in LSteam!</p>
                <a href="login">
                    <input type="submit" name="" value="Login"/><br/>
                </a>
            </div>
            <div class="col-md-9 register-right">
                <h3 class="register-heading">Register</h3>
                <form action="/register" method="POST" accept-charset="utf-8">
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" name="username" placeholder="Username *" value="{% if data.username %}{{ data.username }}{% endif %}" required/>
                                {% if errors.username %}
                                    <p style="color: red;">{{ errors.username }}</p>
                                {% else %}
                                    <p style="color: transparent;">hidden</p>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <input name="password" type="password" class="form-control" placeholder="Password *" value="" required/>
                                {% if errors.password %}
                                    <p style="color: red;">{{ errors.password }}</p>
                                {% else %}
                                    <p style="color: transparent;">hidden</p>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <input class="form-control" type="date" id="birthday" name="birthday" value="{% if data.birthday %}{{ data.birthday }}{% endif %}" required>
                                {% if errors.date %}
                                    <p style="color: red;">{{ errors.date }}</p>
                                {% else %}
                                    <p style="color: transparent;">hidden</p>
                                {% endif %}
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" name="email" placeholder="Email *" value="{% if errors.emailOk %}{{ errors.emailOk }}{% endif %}" required/>
                                {% if errors.email %}
                                    <p style="color: red;">{{ errors.email }}</p>
                                {% else %}
                                    <p style="color: transparent;">hidden</p>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <input name="cpassword" type="password" class="form-control"  placeholder="Confirm Password *" value="" required/>
                                {% if errors.password %}
                                    <p style="color: transparent;">{{ errors.password }}</p>
                                {% else %}
                                    <p style="color: transparent;">hidden</p>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" id="phone" placeholder="Your Phone" value="{% if data.phone %}{{ data.phone }}{% endif %}" name="phone">
                                {% if errors.phone %}
                                    <p style="color: red;">{{ errors.phone }}</p>
                                {% else %}
                                    <p style="color: transparent;">hidden</p>
                                {% endif %}
                            </div>
                            <div class="container-register-button">
                                <input type="submit" class="btnRegister" value="Register"/>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>
</div>


{% endblock %}
